QA_ENV=local

QA_API_BASE_URL=http://localhost:8000
QA_UI_BASE_URL=http://localhost:5173

QA_REQUEST_TIMEOUT=30
QA_JOB_TIMEOUT=90
QA_POLL_INTERVAL_SECONDS=2

QA_TEST_PASSWORD=StrongPassword123!
QA_DELETE_TEST_DATA=true

QA_ALLURE_RESULTS_DIR=allure-results