@import "tailwindcss";
.page-scaler {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(112.92deg, #ffffff 0%, #be9ff6 39.1%, #ffffff 99.19%);
}

.page-scaler-inner {
  flex-shrink: 0;
  transform-origin: center center;
}

body {
  margin: 0;
}